<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
	<script>
	
		$(document).ready(function(){
		
		var socket = io.connect('http://set09103.napier.ac.uk:9109/');
				
			socket.on('queue_match_response', function(data){
				console.log(data);
				window.location = '/match/'+data.match_id
			
			});
	
			$('#queueButton').on('click', function(){
				socket.emit('queue_match', 'queueMsg');
				console.log("sent queue msg");	
				//$('#queueButton').remove();
				//$('#queueDiv').append('<h1>You are now in queue, please wait..</h1>');
			});
	
				
	});
	</script>
	<style>
	.dropdown:hover .dropdown-menu {
		display: block;
	}
	.img-resize{
		width: 211px;
		height: 211px;
	}
	.glyphicon-star {
	   color: yellow;
	   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
	.small-edit{
		font-size:13px;
	}
	.small-edit:hover{
		cursor:grab;
	}

	</style>
	<title>Connect 4 Online!</title>
</head>
<body>
<div class="mainDiv container">
		<div class="row">
			<div class="col-sm-2 tmp">
				<div class="row">
					<div class="content">
						<center><img src="{{ url_for('static', filename='img/logo.png')}}"/></center>
					</div>
				</div>
			</div>
			<div class="col-sm-10" style="margin-top: 20px;">

				<div class="row ">
					<nav class="navbar" style="background-color: #e3f2fd;">
					  <div class="container-fluid">			
						<div class="collapse navbar-collapse" id="navigationBar">
						  <ul class="nav navbar-nav">
							<li><a href="/">Home</a></li>
							<li id="queueButton"><a href="#">Queue for Match!</a></li>
							<li><a href="/profile">Your profile</a></li>
							<li class="dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle" href="/categories">Leaderboards <b class="caret"></b></a>
								<ul class="dropdown-menu">
								  <li><a href="/leaderboards/winners">Winners</a></li>
								  <li><a href="/leaderboards/losers">Losers</a></li>
								</ul>
							  </li>							 
							 </ul>
						  <span class="navbar-text navbar-right">
						  {% if user %}
							  Hi, {{user.username}}! (<a href="/logout">logout</a>)
							  {% else %}
								<a href="/login">Log in</a> | <a href="/register">Register</a>
						  {% endif %}
							</span>
						</div>
					  </div>
					</nav> 
				</div>
				
			</div>
		</div>
		{% block content %}
  		{% endblock content %}
	</div>
</body>
<html>