{% extends "base.html" %}

{% block content %}
<script>
$(document).ready(function(){
	var socket = io.connect('http://set09103.napier.ac.uk:9109/');
	
	socket.on('connect', function(){
		socket.send('user has connected');
		console.log("sent connection msg");
	});
	
	socket.on('message', function(msg){
		$('#messageList').append('<li>'+msg+'</li>');
	
	});
	
	$('#sendButton').on('click', function(){
		socket.send($('#myMessage').val());
		$('#myMessage').val('')
	
	});

});
</script>
<div class="row">
	<div class="col-sm-12">
		<ul id="messageList">
			
		</ul>
		<input type="text" id="myMessage">
		<button id="sendButton">Send!</button>
	</div>
</div>

{% endblock content%}