{% extends "base.html" %}
{% block content %}

<div class="row">
	<div class="col-sm-12">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-10">
			<div class="panel panel-default">
				<div class="panel-heading"><label>Error!</label></div>
				<div class="panel-body">
					<span>Woops, looks like there's nothing here!      </span><a href="/">Go back.</a>
				</div>	
			</div>
		</div>		
	</div>
</div>

{% endblock content%}