{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading"><label>Connect 4 Online!</label></div>
		<div class="panel-body">
			Welcome to <strong>Connect 4 Online!</strong> Where you can challenge your friends and foes to a game of Connect 4, without the hassle of resetting the board!<br>
			<br>
			<strong>Connect 4 Online!</strong> offers a consistant gaming experience with support for User Profiles, so that you can keep track of your wins and losses!
			<br><br>
			Addtionally, there are leaderboards that allow you to see the top Connect 4 players on this platform.
			<br><br>
			Have fun and good luck!
		</div>
	</div>
</div>
<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading"><label>The Rules!</label></div>
		<div class="panel-body">
			The rules are simple. All you need to do are place 4 of your coloured tiles in a row, in order to win! This can be horizontally, vertically or diagonally.
		</div>	
	</div>
</div>

{% endblock content%}