{% extends "base.html" %}
{% block content %}
<link href="https://unpkg.com/tabulator-tables@4.1.2/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.1.2/dist/js/tabulator.min.js"></script>
<script>
	$(document).ready(function(){
				var url;
				
				{%if type == 'winners'%} 
					url = '../api/stats/leaderboards/getWinners';
				{%elif type == 'losers'%} 
					url = '../api/stats/leaderboards/getLosers';
				{% endif %}
			
				var table = new Tabulator('#leaderboardTable',{
						movableColumns:true,
						layout:"fitColumns",
						ajaxURL:url,
						ajaxProgressiveLoad:"scroll",
						clipboard:true,
						clipboardPasteAction:"replace",
						columns:[
						{formatter:"rownum", title:'#', align:"center", width: 50},
						{title:'User ID', field:'id'},						
						{title:'Username', field:'username', formatter:function(cell, formatterParams){
							   var value = cell.getValue();
									
									return "<a href='../profile/"+value+"'>"+value+"</a>";
						}},
						{title:'Total Games', field:'total_games'},
						{title:'Wins', field:'wins'},
						{title:'Losses', field:'losses'},	
						{title:'Winrate', field:'winrate'}						
					]					
				});			
			});
</script>
<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading"><label>{%if type == 'winners'%} Winners {%elif type == 'losers'%} Losers {% endif %} leaderboards!</label></div>
		<div class="panel-body">
			<div id="leaderboardTable">
			</div>
		</div>	
	</div>
</div>

{% endblock content%}