{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}
{% block content %}

<div class="row">
	<div class="col-sm-12">
		<form action="/login" method="post">
		  {{form.hidden_tag()}}
		  {{wtf.form_field(form.username)}}
		  {{wtf.form_field(form.password)}}
		  {{wtf.form_field(form.remember)}}
		  
		  <button type="submit" class="btn btn-success">Submit</button>
		</form>
	</div>
</div>

{% endblock content%}