{% extends "base.html" %}

{% block content %}
<script>
$(document).ready(function(){
	var socket = io.connect('http://set09103.napier.ac.uk:9109/');
	
	socket.on('connect', function(){
		socket.send('user has connected');
		console.log("sent connection msg");
	});
	
	socket.on('queue_match_response', function(data){
			console.log(data);
			window.location = '/match/'+data.match_id
			
		});
		
	var me;
	var opponent;
	var turnCount = 0
	
	var firstTurn = false;
	
	if({{match.player1_id}} === {{user.id}}){
		me = 'yellow';
		opponent = 'red';
	} else if({{match.player2_id}} === {{user.id}}){
		me = 'red';
		opponent = 'yellow';
	}
	if(me === 'yellow'){
		$('#turn').removeClass(opponent).addClass(me);
		$('#turn').text('Your turn!');
	} else if(me === 'red'){
		$('#turn').removeClass(me).addClass(opponent);
		$('#turn').text('Opponents turn!');
	}	
	
	socket.on('match_response', function(data){
			console.log(data);
			if(data.winnerBySurrender !== undefined){
				if(data.winnerBySurrender === {{user.id}}){
					$('#resultModalLabel').text("Congratulations");
					$('#resultModalText').text("Your opponent has surrendered and you have won!");
					$('#resultModal').modal();
						
				} else {
					$('#resultModalLabel').text("Commiserations");
					$('#resultModalText').text("You have surrendered and lost!");
					$('#resultModal').modal();
				}
				return;
			}
			
			if(data.turn_user !== undefined){
				if(data.turn_user === {{user.id}}){
					$('#turn').removeClass(opponent).addClass(me);
					console.log("me");
					$('#turn').text('Your turn!');
				} else {
					$('#turn').removeClass(me).addClass(opponent);
					console.log("them");
					$('#turn').text('Opponents turn!');
				}
			}
			if(data.boarddata !== undefined){
				for(var i = 0; i < data.boarddata.length; i++){
				var len = data.boarddata[i].length;

					for(var j=0; j < len; j++){
						var tmpi = i+1; 
						var impj = j+1;
						var target = $('#x'+tmpi+'y'+impj);
						if(data.boarddata[i][j] === 1){
							target.addClass('yellow');
						} else if(data.boarddata[i][j] === 2){
							target.addClass('red');
						}
					}
				}
			}
			if(data.turn !== undefined){
				$('#turnCounter').text('Turn '+data.turn);
				turnCount = data.turn;
			}
			if(data.winner !== undefined){
				if(data.winner === {{user.id}}){
					$('#resultModalLabel').text("Congratulations");
					$('#resultModalText').text("You've won!");
					$('#resultModal').modal();
					
				} else if(data.winner === 1){
					$('#resultModalLabel').text("Unlucky, try again!");
					$('#resultModalText').text("It was a draw!");
					$('#resultModal').modal();
				} else {
					$('#resultModalLabel').text("Commiserations");
					$('#resultModalText').text("You've lost!");
					$('#resultModal').modal();
					
				}
				if(data.winning_tiles !== undefined){
						for(var i=0; i<data.winning_tiles.length; i++){
							var tmp = '#'+data.winning_tiles[i];
							var target = $(tmp);
							console.log(tmp);
							console.log(target.length);
							target.removeClass('red').removeClass('yellow').addClass('winner-tile');
						}
				}
			}
		});
	
	$('#requeueBtn').on('click', function(){
			socket.emit('queue_match', 'queueMsg');
			console.log("sent queue msg");	
			$('#requeueBtn').prop('disabled','true');
			$('#resultModalText').append('<br><hr> You are now in queue. You may now close this box, but please remain on the same page.');			
	});
	
	$('div[id^="x-"]').on('click', function(){
		console.log($(this).attr('id'));
		socket.emit('match_response', 
			{'match_id':'{{match.match_id}}',
			'turn': $(this).attr('id')}
			);
	
	});
	
	$('#surrenderBtn').on('click', function(){
		if(turnCount > 3){
			$('#surrenderModal').modal();
		} else {
			alert('You cannot surrender this early into the game!');
		}
		
	
	});
	
	$('#properSurrenderBtn').on('click', function(){
		if(turnCount > 3){
			socket.emit('match_response', 
			{'match_id':'{{match.match_id}}',
			'surrender': true}
			);
		} else {
			alert('You cannot surrender this early into the game!');
		}
		
	
	});
	
	
	$.ajax({
			url: '/api/stats/matchstats/',
			dataType: 'json',
			type: 'post',
			data: {
				{% if user.id == match.player1_id%}
				'user1':{{match.player1_id}},
				'user2':{{match.player2_id}}
				{% elif user.id == match.player2_id%}
				'user1':{{match.player2_id}},
				'user2':{{match.player1_id}}
				{% endif%}
			},
			success: function(data){
				console.log(data);
					$('#vsStatsName').text(data.opponent);
					$('#vsStatsTotalGames').text(data.total_games);
					$('#vsStatsWins').text(data.wins);
					$('#vsStatsLosses').text(data.losses);
					$('#vsStatsDraws').text(data.draws);
					$('#vsStatsWinrate').text(data.winrate);
				}
			});
	
	

});
</script>
<style>
	.gridTile {
		height: 100px;
		width: 100px;
		content:url({{ url_for('static', filename='img/frame.png')}});
		background-color: aliceblue;
	}
	.yellow {
		background-color: yellow !important
	}
	.red {
		background-color: red !important
	}
	
	.winner-tile {
		background-color: lightblue !important
	}
	
	#wrapper {
		width: 700px;
		height: 600px;
	}
	.gridColumn{
		height: 700px;
		width: 100px;
		float: left;
	}
	.rightBox {
		width: 243px;
		background-color: lightgoldenrodyellow;
		height: 250px;
		border-radius: 5px;
	}
	.btmleft{
		border-radius: 0px 0px 0px 40px;
	}
	.btmright{
		border-radius: 0px 0px 40px 0px;
	}
	.topleft{
		border-radius: 40px 0px 0px 0px;
	}
	.topright{
		border-radius: 0px 40px 0px 0px;
	}
	.turnbox{
		margin-top: 15;
		border-radius: 10px;
		text-align: center;
		font-size: xx-large;
		border-color: slategray;
		border-style: solid;
		border-width: thin;
	}
	
	.turncounter{
		margin-top: 15;
		border-radius: 10px;
		text-align: center;
		font-size: xx-large;
		border-color: slategray;
		border-style: solid;
		border-width: thin;
	}
	.rightBoxBelow {
		margin-top:15px;
		width: 243px;
		background-color: lightgoldenrodyellow;
		height: 235px;
		border-radius: 5px;
	}
	.surrenderBox{
		margin-top:15px;
		width: 243px;
		background-color: lightgoldenrodyellow;
		height: 85px;
		border-radius: 5px;
		text-align: center;
	}
	.surrenderButton{
		margin-top: 19px;
	}
	
	.matchHistoryBox{
		margin-top: 15;
		border-radius: 10px;
		text-align: left;
		border-color: slategray;
		border-style: solid;
		border-width: thin;
		text-indent: 10px;
		height: 145;
	}
	.matchStatsText{
		margin-top: 3px;
	}
	
	
</style>
<div class="row">
	<div class="col-sm-2">
	</div>
	<div class="col-sm-10">
		<div class="row">
			<div class="alert alert-info">
				<Strong>Match {{match.match_id}}:</strong>  {{user1.username}} vs. {{user2.username}}
				{% if match.winner_id %}
					<br><strong>Match Winner: </strong>
					{% if match.winner_id == user1.id %}
						{{user1.username}}
					{% elif match.winner_id == user2.id%}
						{{user2.username}}
					{% else %}
						Draw
					{% endif %}
				{% endif %}
				
			</div>
		</div>
		<div class="row">
			<div class="col-sm-9">
				<div id="gameGrid">
					<div id="wrapper">
						<div id="x-1" class="gridColumn">
							<div id="x1y6" class="gridTile topleft"></div><div id="x1y5" class="gridTile"></div><div id="x1y4" class="gridTile"></div><div id="x1y3" class="gridTile"></div><div id="x1y2" class="gridTile"></div><div id="x1y1" class="gridTile btmleft"></div>
						</div>
						<div id="x-2" class="gridColumn">
							<div id="x2y6" class="gridTile"></div><div id="x2y5" class="gridTile"></div><div id="x2y4" class="gridTile"></div><div id="x2y3" class="gridTile"></div><div id="x2y2" class="gridTile"></div><div id="x2y1" class="gridTile"></div>
						</div>
						<div id="x-3" class="gridColumn">
							<div id="x3y6" class="gridTile"></div><div id="x3y5" class="gridTile"></div><div id="x3y4" class="gridTile"></div><div id="x3y3" class="gridTile"></div><div id="x3y2" class="gridTile"></div><div id="x3y1" class="gridTile"></div>
						</div>
						<div id="x-4" class="gridColumn">
							<div id="x4y6" class="gridTile"></div><div id="x4y5" class="gridTile"></div><div id="x4y4" class="gridTile"></div><div id="x4y3" class="gridTile"></div><div id="x4y2" class="gridTile"></div><div id="x4y1" class="gridTile"></div>
						</div>
						<div id="x-5" class="gridColumn">
							<div id="x5y6" class="gridTile"></div><div id="x5y5" class="gridTile"></div><div id="x5y4" class="gridTile"></div><div id="x5y3" class="gridTile"></div><div id="x5y2" class="gridTile"></div><div id="x5y1" class="gridTile"></div>
						</div>
						<div id="x-6" class="gridColumn">
							<div id="x6y6" class="gridTile"></div><div id="x6y5" class="gridTile"></div><div id="x6y4" class="gridTile"></div><div id="x6y3" class="gridTile"></div><div id="x6y2" class="gridTile"></div><div id="x6y1" class="gridTile"></div>
						</div>
						<div id="x-7" class="gridColumn">
							<div id="x7y6" class="gridTile topright"></div><div id="x7y5" class="gridTile"></div><div id="x7y4" class="gridTile"></div><div id="x7y3" class="gridTile"></div><div id="x7y2" class="gridTile"></div><div id="x7y1" class="gridTile btmright"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3 rightBox" id="rightBox">
				<div id="turnCounter" class="turnCounter">Turn 1</div>
				<div id="turn" class="red turnbox">Your turn!</div>
			</div>
			<div class="col-sm-3 rightBoxBelow" id="rightBoxBelow">
				<div id="matchHistory" class="turnCounter">Match History</div>
				<div id="turn" class="matchHistoryBox">
				<div class="row matchStatsText">
					<div class="col-sm-12">Your stats vs <div style="display:contents;"  id="vsStatsName"></div></div>
					
				</div>
				<div class="row matchStatsText">
					<div class=" col-sm-8">Total Games: </div>
					<div class="col-sm-4" id="vsStatsTotalGames"></div>
				</div>
				<div class="row matchStatsText">
					<div class=" col-sm-8">Wins: </div>
					<div class="col-sm-4" id="vsStatsWins"></div>
				</div>
				<div class="row matchStatsText">
					<div class=" col-sm-8">Losses: </div>
					<div class="col-sm-4" id="vsStatsLosses"></div>
				</div>
				<div class="row matchStatsText">
					<div class=" col-sm-8">Draws: </div>
					<div class="col-sm-4" id="vsStatsDraws"></div>
				</div>
				<div class="row matchStatsText">
					<div class=" col-sm-8">Winrate:</div>
					<div class="col-sm-4" id="vsStatsWinrate"></div> 
				</div>
				
				
			</div>
			</div>
			<div class="col-sm-3 surrenderBox " id="surrenderBox">
				<button class="btn btn-danger btn-lg surrenderButton" id="surrenderBtn">Surrender</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="resultModalLabel">This should never be seen</h5>
        
      </div>
      <div class="modal-body" id="resultModalText">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
		<button type="button" id="requeueBtn" class="btn btn-success" >Queue again!</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="surrenderModal" tabindex="-1" role="dialog" aria-labelledby="surrenderModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="surrenderModalLabel">Surrender?</h5>
        
      </div>
      <div class="modal-body" id="surrenderModalText">
        Are you sure you want to surrender? This is irreversible. 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
		<button type="button" id="properSurrenderBtn" data-dismiss="modal" class="btn btn-danger" >Surrender</button>
      </div>
    </div>
  </div>
</div>


{% endblock content%}