{% extends "base.html" %}
{% block content %}
		<script src="{{ url_for('static', filename='scripts/base.js')}}"></script>
		<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
		<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
		<style>
			.formatting {
				display: contents;
			}
			.glyphicon-ok {
				font-size: 21px;
				color:lightgreen;
			}
			.glyphicon-remove {
				font-size: 21px;
				color: red;
			}
		</style>
 
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
		<link href="https://unpkg.com/tabulator-tables@4.1.2/dist/css/tabulator.min.css" rel="stylesheet">
		<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.1.2/dist/js/tabulator.min.js"></script>
		<script>
			$(document).ready(function(){
				
			
				var table = new Tabulator('#playedMatches',{
						movableColumns:true,
						layout:"fitColumns",
						ajaxURL:'../api/user/getMatchData/'+{{userprofile.id}},
						ajaxProgressiveLoad:"scroll",
						columns:[
							{formatter:"rownum", align:"center", width:40},
							{title:'Match ID', field:'match_id', width:100, formatter:function(cell, formatterParams){
							   var value = cell.getValue();
									
									return "<a href='../match/"+value+"'>"+value+"</a>";
							}},
							{title:'Player 1', field:'player1', width:150, formatter:function(cell, formatterParams){
							   var value = cell.getValue();
									
									return "<a href='../profile/"+value+"'>"+value+"</a>";
							}},
							{title:'Player 2', field:'player2', width:150, formatter:function(cell, formatterParams){
							   var value = cell.getValue();
									
									return "<a href='../profile/"+value+"'>"+value+"</a>";
							}},
							{title:'Winner', field:'winner', width:150, formatter:function(cell, formatterParams){
							   var value = cell.getValue();
									
									return "<a href='../profile/"+value+"'>"+value+"</a>";
							}},
							{title:'Turns', field:'turns', width:100},
							{title:'Date', field:'match_date'}					
						]
				
				
				});
				
				
			
			$('span#profileEdit').on('click', function(){
				$('#profileEditModal').modal();
				
				
			});
			
			
			$('#editProfileInfoBtn').on('click', function(){
				$.ajax({
					url: '/profile/edit',
					dataType: 'json',
					type: 'post',
					data: {
						'new_username':$('#newUsernameInput').val(),
						'new_email':$('#newEmailInput').val()				
					},
					success: function(data){
						console.log(data);
						if(data.username !== undefined){
							if(data.username == 'success'){
								$('#usernameSuccess').empty();
								$('#usernameSuccess').append('<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>');
							} else if(data.username == 'error'){
								$('#usernameSuccess').empty();
								$('#usernameSuccess').append('<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>');
							}
							
						}
						if(data.username !== undefined){
							if(data.email == 'success'){
								$('#emailSuccess').empty();
								$('#emailSuccess').append('<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>');
							} else if(data.email == 'error'){
								$('#emailSuccess').empty();
								$('#emailSuccess').append('<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>');
								}
							}
						}
						
						
						
						
						
						
						
				
				});
			
			});
			
			});
			
			
			
			
		</script>
		<div class="row" >
			
			
			<div class="col-sm-12 tmp">
			{% if user %}
			<div class="row">
			  
				<div class="panel panel-default" >
				  <div class="panel-heading resume-heading" style="border-style:none !important;background-color: ivory;">
					<div class="row">
					  <div class="col-lg-12">
						

						<div class="col-xs-12 col-sm-8">
							
								
							<ul class="list-group" style="list-style: none;">
							  <li class=" row">
									<div class="col-md-3 list-group-item list-group-item-info">User ID</div>
									<div class="col-md-9 list-group-item" id="showNameDiv">{{userprofile.id}}</div>
								</li>
								<li class=" row">
									<div class="col-md-3 list-group-item list-group-item-info">Name</div>
									<div class="col-md-9 list-group-item" id="showNameDiv">{{userprofile.username}} {% if user.id == userprofile.id %} <span id="profileEdit" class="glyphicon glyphicon-pencil" aria-hidden="true">{% endif %}</div>
								</li>
								<li class=" row">
									<div class="col-md-3 list-group-item list-group-item-info">Matches played</div>
									<div class="col-md-9 list-group-item">{{data.match_count}}</div>
								</li>
								<li class=" row">{% set tmp =  data.match_count - data.match_wins %}
									<div class="col-md-3 list-group-item list-group-item-info">Winrate</div>
									<div class="col-md-9 list-group-item"><div id="wins" class="formatting">{{data.match_wins}}</div> / <div id="losses" class="formatting">{{tmp}}</div> - <div id="percentage" class="formatting">{{data.winrate}}%</div></div>
								</li>
								{% if user.id == userprofile.id %}
								<li class=" row">
									<div class="col-md-3 list-group-item list-group-item-info">Email  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></div>
									<div class="col-md-9 list-group-item">{{userprofile.email}}  <span id="profileEdit" class="glyphicon glyphicon-pencil" aria-hidden="true"></div>
								</li>
								{% endif %}
							</ul>
							
						
					  </div>
					  <div class="col-xs-12 col-sm-4">
						  <figure>
							<img class="img-responsive img-resize" alt="" src="{{ url_for('static', filename='img/default.jpg')}}">
						  </figure>
						 
						</div>
					</div>
				  </div>
				</div>
			</div>
		
		</div>
		{% endif %}
			
		<div class="row">			
			<div class="panel panel-default">
				<div class="panel-heading"><label>Match History</label></div>
					<div class="panel-body" style="background-color: azure;">
						<div id="playedMatches">
							
						</div>
				</div>	
			</div>	
		</div>			
		</div>
	</div>
	
	<div class="modal fade" id="profileEditModal" tabindex="-1" role="dialog" aria-labelledby="profileEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="profileEditModalLabel">Edit Profile: {{user.username}}</h5>
        
      </div>
      <div class="modal-body" id="profileEditModalText">
        Leave blank any information you do not wish to change.
		<hr>
		
			<div class="form-group">
				<label for="newUsernameLabel">New Username:</label>
				<div class="row">
				<div class="col-sm-11"><input type="text" class="form-control" id="newUsernameInput" placeholder="{{user.username}}"></div><div id="usernameSuccess" class="col-sm-1"></div>
				</div>
			</div>
			<div class="form-group">
				<label for="newEmailLabel">New Email Address</label>
				<div class="row">
				<div class="col-sm-11"><input type="email" class="form-control" id="newEmailInput" placeholder="{{user.email}}"></div><div id="emailSuccess" class="col-sm-1"></div>
				</div>
			</div>	  		  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
		<button id="editProfileInfoBtn" class="btn btn-primary">Submit</button>
		
      </div>
    </div>
  </div>
</div>
{% endblock content %}